//<FORM>
// Сніппет (HTML):
.form {
  &__label {
    display: block;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__title {
    font-weight: 400;
    font-size: toRem(16);
    line-height: 120%;
    color: #8e8e8e;
    margin-bottom: toRem(10);
  }

  &__input {
  }

  &__bottom {
    display: grid;
    gap: toRem(15);
  }

  &__button {
    &.button {
      border-radius: 30px;
      min-height: toRem(55);
    }
  }

  &__resend {
    padding: toRem(5) 0;
    font-weight: 400;
    font-size: toRem(18);
    line-height: 144%;
    color: #6e6e6e;

    @media (any-hover: hover) {
      &:hover {
        color: #111315;
      }
    }
  }
}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
