//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  display: block;
  padding: 0px 20px;

  font-weight: 500;
  font-size: toRem(14);
  color: #1f1f1f;

  min-height: toRem(54);
  background-color: #fff;
  border: 1px solid #fff;

  &:focus {
    outline: none;
    border-color: #01458f;
  }

  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

input[type="date"] {
  -webkit-appearance: none; /* Убирает стили Safari */
  appearance: none; /* Универсальный сброс */
  width: 100%; /* Растягивает поле */
  min-width: 0;
  text-align: left;
  padding: 0px 20px;
}
