// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.title {
  font-weight: 800;
  @include adaptiveValue("font-size", 38, 24);
  line-height: 124%;
  text-transform: uppercase;
  color: #fff;

  &_dark {
    color: #111315;
  }
}

//========================================================================================================================================================

.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-family: "Myriad Pro";
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #6e6e6e;
  }

  &__link {
    position: relative;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #000;

        &::before {
          opacity: 1;
        }
      }
    }

    &::after {
      content: "/";
    }
    &::before {
      content: "";
      position: absolute;
      bottom: toRem(2);
      left: 0;
      width: calc(100% - 5px);
      height: 1px;
      background-color: #000;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }

  &__current {
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

// .pagination {
//   display: flex;
//   justify-content: center;
//   gap: toRem(5);

//   .swiper-pagination-bullet {
//     cursor: pointer;
//     display: inline-block;
//     width: toRem(20);
//     height: toRem(20);
//     background-color: #bbb;

//     transition: background-color 0.3s ease;

//     @media (any-hover: hover) {
//       &:hover {
//         background-color: #000;
//       }
//     }
//   }

//   .swiper-pagination-bullet-active {
//     background-color: #000;
//   }
// }

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: toRem(10);

  &__button {
    display: inline-block;
    padding: toRem(5);
    width: toRem(45);
    height: toRem(45);
    background-color: #fff;
    color: #014d97;
    border-radius: 50%;

    transition: background-color 0.3s ease;

    @media (any-hover: hover) {
      &:not([disabled]):hover {
        background-color: #ffd300;
      }
    }

    &.button-prev {
    }
    &.button-next {
    }

    &[disabled] {
      color: #a3a3a3;
      cursor: no-drop;
    }
  }
}

// .fraction {
//   &__current {
//   }
//   &__total {
//     font-weight: 700;
//   }
// }

// .slider-scrollbar {
//   cursor: pointer;
//   background-color: #bbb;
//   height: toRem(10);

//   &__drag {
//     cursor: grab;
//     height: 100%;
//     background-color: #000;

//     &:focus {
//       cursor: grabbing;
//     }
//   }
// }
