//====================================================================================================

.hero {
  position: relative;
  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.35);
      z-index: 1;

      @media (min-width: $mobile) {
        display: none;
      }
    }
  }

  &__container {
    padding-top: toRem(50);
    padding-bottom: toRem(50);
    min-height: toRem(565);
  }

  &__body {
  }

  &__title {
    font-weight: 900;
    @include adaptiveValue("font-size", 33, 28);
    line-height: 152%;
    text-transform: uppercase;
    color: #1a2026;

    @media (max-width: $mobile) {
      text-align: center;
      color: #fff;
    }
  }
}

//====================================================================================================

.participate {
  position: relative;
  margin-top: toRem(-135);

  @include adaptiveValue("padding-top", 180, 120);
  @include adaptiveValue("padding-bottom", 215, 70);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: toRem(150);
    bottom: 0;
    left: 0;
    background-color: #0172bc;
    z-index: 0;
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      object-position: top center;
    }
  }
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    gap: toRem(30);
  }

  &__item {
  }

  &__decore {
  }
}
.title {
}
.item-participate {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__images {
    position: relative;
    margin-bottom: toRem(15);
  }

  &__decore {
  }

  &__image {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 24, 22);
    line-height: 108%;
    text-align: center;
    color: #fff;
    max-width: toRem(265);

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 144%;
    text-align: center;
    color: #fff;

    max-width: toRem(265);
  }
}

//========================================================================================================================================================

.gift {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 60, 30);

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    // width: toRem(1220);
    height: toRem(202);
    bottom: 100%;
    left: 0;
    background-image: url("@img/backgrounds/whawe.png");
    background-repeat: no-repeat;
    // background-repeat: repeat-x;
    // background-size: toRem(1220);
    background-size: 100%;
    background-position: bottom;

    z-index: 4;
  }

  &__container {
  }

  &__title {
    text-align: center;
    color: #333333;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 47, 25);
    }
  }

  &__items {
    gap: toRem(20);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 calc(33.33333% - 16px);
  }
}

.item-gift {
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: toRem(20) toRem(10) toRem(15);

  background-color: #d9eafc;
  &__images {
    position: relative;
    margin-bottom: toRem(15);
  }

  &__decore {
  }

  &__image {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center;
    }
  }

  &__count {
    position: absolute;
    width: 67px;
    height: 67px;
    top: toRem(14);
    right: 0;

    font-weight: 700;
    font-size: 23px;
    line-height: 113%;
    text-align: center;
    color: #333;
    background-color: #ffd300;
    border: 3px solid #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 22);
    line-height: 108%;
    text-align: center;
    color: #1a2026;
    flex: 1 1 auto;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 20);
    }
  }

  &__link {
    width: 100%;
  }
}

//========================================================================================================================================================

.products {
  position: relative;

  @include adaptiveValue("padding-top", 215, 120);
  @include adaptiveValue("padding-bottom", 115, 30);

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      object-position: top center;
    }
  }

  &__container {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 20);
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__title {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__navigation {
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }

  &__decore {
  }
}

.item-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__images {
    position: relative;
    margin-bottom: toRem(15);

    max-width: toRem(335);
  }

  &__decore {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }

  &__image {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    color: #fff;

    max-width: toRem(250);
  }
}

//========================================================================================================================================================

.faq {
  @include adaptiveValue("padding-top", 150, 30);
  @include adaptiveValue("padding-bottom", 120, 30);
  position: relative;
  &__container {
    max-width: toRem(705);
  }

  &__title {
    color: #333;
    text-align: center;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 20);
    }
  }

  &__spollers {
  }

  &__decore {
  }
}

//========================================================================================================================================================
.bottom {
  @include adaptiveValue("padding-top", 140, 130);
  @include adaptiveValue("padding-bottom", 320, 150);
  position: relative;

  &::before {
    content: "";
    background-image: url("@img/backgrounds/milk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-size: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // height: toRem(310);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      object-position: top center;
    }
  }
  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 30);
    }
  }

  &__counter {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }

  &__button {
    max-width: toRem(320);
    width: 100%;
  }

  &__decore {
  }
}

.counter {
  display: flex;
  justify-content: center;
  @include adaptiveValue("gap", 90, 30);
  &__item {
    &:not(:last-child) {
      .counter__num::before {
        content: "";
        width: toRem(20);
        aspect-ratio: 20 / 48;
        background-image: url("@img/backgrounds/dots.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        position: absolute;
        top: 50%;
        @include adaptiveValue("right", -50, -25);
        transform: translateY(-50%);
      }
    }
  }

  &__num {
    position: relative;
    background-color: #f8f8f8;
    @include adaptiveValue("width", 110, 90);
    @include adaptiveValue("height", 110, 90);
    border-radius: 50%;

    font-weight: 700;
    @include adaptiveValue("font-size", 70, 50);
    line-height: 57%;
    text-align: center;
    color: #014d97;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: toRem(15);
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 18);
    line-height: 118%;
    text-align: center;
    color: #fff;
  }
}
